<div class="master-parent">
  
  <!-- HEADER -->
  <header>
    <div class="headerLeft">
      <div class="profileImg">
        <img src="../../assets/logo.png" alt="image" class="image" />
      </div>
    </div>
    <div class="headerRight">
      <div class="receiverName Text">Ibrahim</div>
      <button class="searchBtn" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </header>

  <!-- CHAT BODY -->
  <section>
    <div class="innerSection">
      <div *ngIf="messages.length === 0" class="noMessage">
        <div class="Text">Start new chart!!!</div>
      </div>

      <div *ngIf="messages.length !== 0">
        <div *ngFor="let msg of messages">
          <div
            [ngClass]="{
              right: msg.senderType === 'user',
              left: msg.senderType === 'admin'
            }"
          >
            <div
              [ngClass]="{
                senderMsg: msg.senderType === 'user',
                receiverMsg: msg.senderType === 'admin'
              }"
            >
              <div class="message">
                {{ msg.msg }}
              </div>
              <div class="info">
                <div
                  class="sendermsgInfo"
                  [ngClass]="{
                    sendermsgInfo: msg.senderType === 'user',
                    receivermsgInfo: msg.senderType === 'admin'
                  }"
                >
                  <div>{{ msg.time | date : "hh:mm:ss" }}</div>
                  <div class="dot" *ngIf="msg.senderType === 'user'"></div>
                  <div *ngIf="msg.status === 'seen'" class="statusIcon">
                    <mat-icon>done_all</mat-icon>
                  </div>
                  <div *ngIf="msg.status === 'unseen'" class="statusIcon">
                    <mat-icon>done</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer>
    <div class="inputFeild">
      <input
        type="text"
        class="input Text"
        id="inputValue"
        #inputField
        placeholder="send message..."
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
      />
    </div>
    <div class="sendBtnFeild">
      <button
        tabindex="1"
        class="sendBtn"
        [disabled]="message === ''"
        (click)="sendMessage()"
        mat-icon-button
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </footer>
</div>
