<div class="master-parent">
  <div class="parent" [formGroup]="theForm">
    <div class="title feild">
      <div class="text-header">Ticket Category</div>
      <div class="text-content">
        <!-- <mat-form-field class="example-full-width" >
          <input matInput formControlName="title" />
        </mat-form-field> -->
        <mat-form-field appearance="fill" class="mt-2" [style.width.%]="100">
          <!-- <mat-label>Favorite food</mat-label> -->
          <mat-select formControlName="title">
            <mat-option *ngFor="let category of ticketCategory" [value]="category.categoryId">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <input type="text" matInput placeholder="{{ data[0].title }}"> -->
      </div>
    </div>
    <div class="desc feild">
      <div class="text-header">Ticket Description</div>
      <div class="text-content">
        <mat-form-field class="example-full-width" [style.width.%]="100">
          <textarea matInput formControlName="desc" class="textArea"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="attachement feild">
      <div class="d-flex justify-content-between col-12 align-items-center">
        <div class="text-header">
          Add Attachements
          <span *ngIf="fileLength !== 0">{{ fileLength }}</span>
        </div>
        <div class="uploadBtns">
          <input
            type="file"
            accept="image/*"
            id="file"
            hidden
            multiple
            (change)="onFileChange($event, fileInput)"
            #fileInput
          />
          <label
            for="file"
            style="color: var(--secondnary-color)"
            [hidden]="!arrLength"
            ><mat-icon class="fileIcon">add</mat-icon></label
          >
          <label
            for="file"
            style="color: var(--secondnary-color)"
            [hidden]="arrLength"
            ><mat-icon class="fileIcon">attach_file</mat-icon></label
          >
        </div>
      </div>

      <div class="filesDiv" *ngIf="arrLength">
        <div *ngFor="let fileName of filelist; let i = index" class="files">
          <div class="left">
            {{ fileName["name"] }}
          </div>
          <div class="right">
            <button class="delBtn" (click)="removeFile(i, fileInput)">
              <mat-icon class="delIcon">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="submitBtnDiv feild">
      <button class="btn" (click)="onFileUpload()" [disabled]="!theForm.valid">
        Submit
      </button>
    </div>
  </div>
  <div class="notification" *ngIf="fileCount !== ''">
    <div class="notificationText">
      {{ fileCount }}
    </div>
  </div>
</div>
