.master-parent{
    height: 80%;
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification{
    background-color: #7c85ff;
    display: flex;
    border-radius: var(--radius);
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    padding: 10px;
    opacity: 1;
}

#delayed-display{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.notificationText {
    font-size: 15px;
    color: var(--secondnary-color);
}

.parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feild{
    background-color: var(--secondnary-color);
    padding: 12px;
    border-radius: var(--radius);
}



.text-header{
    font-weight: 600;
    font-size: larger;
    color: var(--primary-color);
}

.uploadBtns{
    display: flex;
    gap: 8px;
}

.text-content{
    color:var(--text-color);
    font-weight: 600;
}

.attachement{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.filesDiv{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 10px;
    max-height: 500px;
    color: var(--secondnary-color);
    padding: 12px;
    overflow: auto; 
}

.files{
    background-color:#7c85ff;
    border-radius: 24px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    width: 100%;
}

.files:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.left{
    width: 90%;
    word-wrap: break-word;
}

.right{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.delBtn{
    background-color: var(--primary-color-light);
    border: none;
    padding: 4px 8px;
    transform: scale(0.7);
    border-radius: var(--radius);
    color: var(--secondnary-color);
    transition: 0.4s;
}

.delBtn:hover{
    color: var(--primary-color);
    background-color: var(--secondnary-color);
}

.buttonDiv{
    display: flex;
    justify-content: center;
}

label{
    padding: 4px 12px; 
    background-color: var(--primary-color);
    color: var(--secondnary-text);
    border: none;
    border-radius:var(--radius);
    font-weight: 600;
    cursor: pointer;
    box-shadow: var(--btn-shadow);
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}


label:hover{
    background-color:var(--primary-color-light) ;
}

label:active{
    background-color:#7c85ff ;
}


.btn{
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--secondnary-color);
    border: none;
    border-radius:var(--radius);
    font-weight: 600;
    cursor: pointer;
    box-shadow: var(--btn-shadow);
    transition: 0.3s;
}

.btn:hover{
    background-color:var(--primary-color-light) ;
}

.btn:active{
    background-color:#7c85ff ;
}

.btn:disabled{
    color: rgb(167, 167, 167);
}

.textArea{
    height:80px ;
}

@media screen and (max-width:800px){
    .master-parent{
        width: 450px;
    }
}

.filesDiv{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    gap: 10px;
    max-height: 500px;
    color: var(--secondnary-color);
    padding: 12px;
    overflow: auto; 
}

.files{
    background-color:#7c85ff;
    border-radius: 24px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    width: 100%;
}


@media screen and (max-width:600px) {
    .filesDiv{
        padding:6px;
    }

    .files{
        padding: 3px 6px;
    }

    .notificationText{
        font-size: 6px !important;
    }

    .text-header{
        font-size: 12px;
    }

    .master-parent{
        height: 80%;
        width: 650px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .textArea{
        height:20px ;
        font-size: 10px;
    }

    .feild{
        padding: 6px;
    }

    .btn{
        padding: 6px;
        font-size: 12px;
    }

    .master-parent{
        width: 300px;
    }

    .fileIcon{
        transform: scale(0.8);
    }

    label{
     padding: 4px 6px; 

    }
}

@media screen and (max-width:400px){
    .master-parent{
        width: 250px;
    }
}

@media screen and (max-width:330px){
    .master-parent{
        width: 200px;
    }
}