<div class="master-parent">
  <div class="parent" [formGroup]="theForm">
    <div class="title feild">
      <div class="text-header">Ticket Title</div>
      <div class="text-content">
        <mat-form-field class="example-full-width" [style.width.%]="100">
          <input matInput formControlName="title" />
        </mat-form-field>
        <!-- <input type="text" matInput placeholder="{{ data[0].title }}"> -->
      </div>
    </div>
    <div class="desc feild">
      <div class="text-header">Ticket Description</div>
      <div class="text-content">
        <mat-form-field class="example-full-width" [style.width.%]="100">
          <input matInput formControlName="desc" />
        </mat-form-field>
      </div>
    </div>
    <div class="attachement feild">
      <div class="d-flex justify-content-between col-12 align-items-center">
        <div class="text-header">Add Attachements <span *ngIf="fileLength !== 0">{{fileLength}}</span></div>
        <div class="uploadBtns">
          <input
            type="file"
            id="file"
            hidden
            multiple
            (change)="onFileChange($event,fileInput)"
            #fileInput
            
          />
          <!-- <input type="file" hidden #addfile (change)="onAddFile($event)" multiple id="addfile"> -->
          <label for="file" style="color: var(--secondnary-color)" [hidden]="!arrLength"><mat-icon>add</mat-icon></label>
          <!-- <input type="file" name="uploadFiles" required id="upload" multiple hidden (change)="onFileChange($event)"> -->
          <label for="file" style="color: var(--secondnary-color)" [hidden]="arrLength" 
            ><mat-icon>attach_file</mat-icon></label
          >
     
        </div>
      </div>
    
      <div class="filesDiv" *ngIf="arrLength">
        <div *ngFor="let fileName of filelist; let i = index" class="files"> 
          <div class="left">
            {{ fileName["name"] }}
          </div>
          <div class="right">
            <button class="delBtn" (click)="removeFile(i,fileInput)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonDiv feild">
      <button class="btn" (click)="onFileUpload()" [disabled]="!theForm.valid">
        Submit
      </button>
    </div>
  </div>
  <div class="notification" *ngIf="fileCount !==  ''" >
      <div class="notificationText" >
        {{fileCount}}
      </div>
  </div>
</div>
