<div class="master-parent">
  <!-- DIALOG -->
  <div class="emptyBlock">
    <div>
      <p class="info" *ngIf="info === 'confirmation'">
        Are you sure confirm this ticket to complete?
      </p>
      <p class="info" *ngIf="info === 'reject'">
        Are you sure confirm this ticket to reject?
      </p>
      <p class="info" *ngIf="info === 'accept'">
        Are you sure confirm this ticket to accept?
      </p>
      <p class="info" *ngIf="info === 'rating'">
        Are you sure to rate this ticket?
      </p>
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="btns" *ngIf="info !== 'reject'">
    <div></div>
    <div class="btnsDiv">
      <button class="smBtn" (click)="yesButton()">Yes</button>
      <button class="smBtn" (click)="noButton()">No</button>
    </div>
  </div>
  <div class="btns" *ngIf="info === 'reject'">
    <div>
      <input
        type="text"
        class="remarkInput"
        placeholder="*remarks"
        id="remark"
        required
        (keyup)="some()"
        [(ngModel)]="remarksStr"
      />
    </div>
    <div class="btnsDiv">
      <button
        [ngClass]="{ smBtn: !remarks, smBtnF: remarks }"
        (click)="yesButton()"
        [disabled]="remarks"
      >
        Yes
      </button>
      <button
        [ngClass]="{ smBtn: !remarks, smBtnF: remarks }"
        (click)="noButton()"
        [disabled]="remarks"
      >
        No
      </button>
    </div>
  </div>
</div>
