.master-parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(272,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%235F94FF'/%3E%3Cstop offset='1' stop-color='%233739FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(34,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF6BE4'/%3E%3Cstop offset='1' stop-color='%23811BA9'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='12.54'%3E%3Cpath transform='translate(-245 0) rotate(-15 1409 581) scale(0.77)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4.18' transform='translate(-350 200) rotate(10 800 450) scale(0.9974999999999999)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(20 -150) rotate(50 401 736) scale(0.9974999999999999)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='3.8'%3E%3Cpath transform='translate(1200 20) rotate(-5 150 345) scale(0.9900000000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8.36' transform='translate(-250 -550)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-640 160) scale(0.5)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.parent {
  width: 90%;
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-view {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  box-shadow: var(--btn-shadow);
  overflow: auto;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  overflow-y: hidden !important;
  width: 100%;
}

.tableDiv {
  width: 100%;
}

.mat-table {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
}

th.mat-header-cell {
  padding: 10px;
  text-align: center !important;
  background: var(--primary-color-light);
  color: var(--secondnary-color);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--primary-color-light);
}

td.mat-cell {
  text-align: center !important;
  font-weight: 600;
  color: var(--text-color);
  background: var(--body-color);
  transition: 0.5s;
  letter-spacing: 1px;
}

.mat-row:hover .mat-cell {
  background: var(--secondnary-color);
  border-bottom: 0.5px solid rgb(255, 255, 255);
  color: var(--text-color);
}

.mat-cell {
  font-size: 14px;
}

.mat-form-field {
  color: var(--text-color);
  font-weight: 600;
  width: 140px;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* .chatboxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  cursor: default;
  box-shadow: var(--btn-shadow);
  transition: 1s;
  width: 100%;
  border-radius: var(--radius);
}

.chatBoxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  cursor: default;
  box-shadow: var(--btn-shadow);
  transition: 1s;
} */

.btnsDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--primary-color);
  justify-content: center;
}

.profileDiv {
  background-color: var(--primary-color-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.headerDiv {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 12px;
  color: var(--secondnary-color);
}

.subHeader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.subHeaderBtn {
  display: none;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  ;
}

.userDetails {
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2%;
  justify-content: center;
  align-items: center;
}



.ndfMaster {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  text-align: center;
  padding: 100px;
  background-color: var(--primary-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.ndfInsideParent {
  background: linear-gradient(120deg, rgba(50, 50, 171, 1) 25%, rgb(76, 78, 233) 100%);
  padding: 10%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.Nbtn {
  width: 25px;
  height: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
  box-shadow: var(--btn-shadow);
  color: var(--secondnary-color);
  transition: 0.5s;
}

.Nbtn:hover {
  background-color: var(--primary-color);
}

.chatBoxDiv:hover {
  background-color: var(--primary-color-light);
  border-bottom: 1px solid var(--primary-color);
}

.chatboxDiv:hover {
  background-color: var(--primary-color-light);

}

.chatboxDiv:active {
  background-color: #7c85ff;
}

.chatBoxDiv:hover .Btn:hover {
  background-color: #7c85ff;
}

.chatBoxDiv:hover .Btn {
  background-color: var(--primary-color);
  letter-spacing: 14px;
}

.chatboxDiv:hover .Btn:hover {
  background-color: #7c85ff;
}

.chatboxDiv:hover .Btn {
  background-color: var(--primary-color);
  letter-spacing: 14px;
}

.btn {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  border: none;
  border-radius: var(--radius);
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
}

.btn:active {
  background-color: #7c85ff;
  color: var(--secondnary-color);
}

.Btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
  border: none;
  color: var(--secondnary-color);
  transition: 0.3s;
  box-shadow: var(--btn-shadow);
}

.Btn:hover {
  background-color: var(--primary-color);
}

.smBtn {
  padding: 8px 14px;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  border: none;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  transition: 0.3s;
}

.smBtn:hover {
  background-color: var(--primary-color-light);
}

.smBtn:active {
  background-color: #7c85ff;
}

th.mat-header-cell:last-of-type {
  padding: 4px;
}

td.mat-cell:last-of-type {
  padding: 4px;
}

.anotherBtnsDiv {
  display: none;
}

.subHeaderBtn .Btn {
  background-color: var(--primary-color);
}

@media screen and (max-width: 680px) {

  .headerIcon {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chatboxDiv {
    border-bottom-right-radius: 0px;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2px;
  }

  .chatBoxDiv {
    display: none;
  }

  .subHeader {
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .subHeaderBtn {
    display: block;
  }

  .anotherBtnsDiv {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;

  }

  .master-toolbar {
    display: flex;
    gap: 12px;
  }

  .ndfMaster {
    width: 250px;
    height: 250px;
  }

  .ndfInsideParent {
    justify-content: space-evenly;
    width: 125px;
    height: 125px;
  }

  .profileDiv {
    justify-content: space-between;
  }

  .btnsDiv {
    display: none;
  }

  th.mat-header-cell {
    font-size: 10px !important;
  }

  .mat-cell {
    font-size: 10px !important;
  }

  .mat-paginator {
    transform: scale(0.6);
  }

  .smBtn {
    padding: 4px 17px;
    font-size: 8px;
  }

  .btn {
    padding: 6px;
    font-size: 12px;
  }

  .Btn {
    transform: scale(0.8);
  }

  th.mat-header-cell:last-of-type {
    padding: 4px;
  }

  td.mat-cell:last-of-type {
    padding: 4px;
  }

  .userName {
    padding: 2px;
    border-radius: var(--radius);
    width: 100%;
    color: var(--body-color);
    transition: 0.3s;
    text-align: center;
  }



  li {
    font-size: 8px;
  }

  .noDataDetails li {
    padding: -3px 6px !important;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
  }

  .NoDatafound {
    padding: 8px !important;
  }

  .noDataProfile {
    padding: 12px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  margin-bottom: 0;
}

li {
  list-style: none;
  display: flex;
  line-height: 25px;
  background-color: var(--primary-color-light);
  padding: 0.1% 2%;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--secondnary-color);
  text-align: center;

}

.liStyle {
  font-weight: 600;
}

/* Nouser Data profile div */

.NoDatafound {
  background-color: var(--primary-color-light);
  padding: 36px;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px 0px;
  background: linear-gradient(-24deg, rgba(50, 50, 171, 1) 15%, rgb(76, 78, 233) 40%);

}

.noDataProfile {
  background: linear-gradient(120deg, rgba(50, 50, 171, 1) 15%, rgb(76, 78, 233) 40%);
  padding: 10%;
  gap: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.40) 0px 5px 15px 0px;
}

.noDataHeader {
  color: var(--secondnary-color);
  background-color: var(--primary-color-light);
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px 0px;
  border-radius: var(--radius);

}

.noDataImg {
  display: flex;
  align-items: center;
  gap: 18px;
}

.NoDataImgDiv {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.noDataImage {
  width: 90%;
  height: 90%;
}


.NoBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondnary-color);
  transition: 0.3s;
  box-shadow: var(--btn-shadow);
}

.NoBtn:hover {
  background-color: var(--primary-color-light);
}


.noDataDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.noDataLiStyle {
  font-weight: 600;

}

.noDataDetails li {
  padding: 3px 12px;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}