.master-parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.parent {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 100%;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: var(--radius);
}

.table-view {
  display: flex;
  flex-direction: column;
  box-shadow: var(--btn-shadow);
  overflow: auto;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius);

}

.tableDiv {
  width: 100%;
  height: 400px;
  overflow: auto;
  padding: 0;
}



.mat-table {
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  cursor: pointer;
}

th.mat-header-cell {
  padding: 10px;
  text-align: center !important;
  background: var(--primary-color-light);
  color: var(--secondnary-color);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--primary-color);
  cursor: default;

}

td.mat-cell {
  text-align: center !important;
  font-weight: 600;
  color: var(--text-color);
  background: var(--body-color);
  transition: 0.5s;
  letter-spacing: 1px;
}

.mat-row:hover .mat-cell {
  background: var(--secondnary-color);
  border-bottom: 0.5px solid rgb(255, 255, 255);
  color: var(--text-color);
}

.mat-cell {
  font-size: 14px;
  border-right: 1px solid rgba(204, 204, 204, 0.459);
}

.mat-form-field {
  color: var(--text-color);
  font-weight: 600;
  width: 140px;
}


.mat-cell:last-child,
.mat-header-cell:last-child {
  border-right: none;
}

.master-toolbar {
  display: flex;
  justify-content: space-between;
}

.paginator {
  display: flex;
  justify-content: flex-end;
}

.btnsDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--primary-color);
  justify-content: center;
}

.profileDiv {
  background-color: var(--primary-color-light);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 100%;
  height: 400px;
  border-radius: var(--radius);
}

.prof{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.headerDiv {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 12px;
  color: var(--secondnary-color);
  border-radius: var(--radius);
}

.subHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

/* .subHeaderBtn {
  display: none;
} */

.emptydivflex{
  display: flex;
}

.emptyDiv{
  display: none;
}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userDetails {
  word-break: break-all;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2%;
  justify-content: center;
  align-items: center;
}



td.mat-cell:last-of-type {
  padding: 4px;
}

.anotherBtnsDiv {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  margin-bottom: 0;
}

li {
  list-style: none;
  display: flex;
  line-height: 25px;
  background-color: var(--primary-color-light);
  padding: 0.1% 2%;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--secondnary-color);
  text-align: center;
}

.liStyle {
  font-weight: 600;
}

/* Nouser Data profile div */

.ndfMaster {
  width: 400px;
  height: 400px;
  background-color: var(--body-color);
  border-radius: 52px;
  margin-top: 48px;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.ndfInsideParent {

  width: 350px;
  height: 350px;
  background-color: var(--secondnary-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 52px;
  transition: 1s;
}

.ndfInsideParent:hover {
  border-radius: 32px;
}

.NTktDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.NDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100px;
  height: 100px;
  border-radius: var(--radius);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.noTkt {
  padding: 12px;
  background-color: var(--secondnary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: var(--radius);
  font-weight: 600;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

.NPara {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

.Nbtn {
  width: 45px;
  height: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--unified-color);
  box-shadow: var(--btn-shadow);
  color: var(--secondnary-color);
  transition: 0.5s;
  border-radius: var(--radius);
}

.Nbtn:hover {
  background-color: var(--primary-color);
}

.NoDatafound {
  width: 400px;
  height: 400px;
  background-color: var(--body-color);
  border-radius: 52px;
  margin-top: 48px;
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.noDataProfile {

  width: 350px;
  height: 350px;
  background-color: var(--secondnary-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 52px;
  transition: 1s;
}

.noDataHeader {
  color: var(--text-color);
  background-color: var(--secondnary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-weight: 600;
  width: 90%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
  border-radius: 54px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

.noDataHeader h1 {
  font-weight: 600;
}

.NoImg {
  width: 40px;
  height: 40px;
  border: 5px solid var(--unified-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.NoBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--unified-color);
  border: none;
  color: var(--secondnary-color);
  transition: 0.3s;
  box-shadow: var(--btn-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noProIcon {
  transform: scale(0.9);
}

.NoBtn:hover {
  background-color: var(--primary-color-light);
}

.noDataDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: center;
}



.noDataDetails li {
  padding: 3px 6px;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: 600;

}

/* Buttons */

.btn {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  border: none;
  border-radius: var(--radius);
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color);
}

.btn:active {
  background-color: var(--unified-color);
  color: var(--secondnary-color);
}

.Btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
  border: none;
  color: var(--secondnary-color);
  transition: 0.3s;
  box-shadow: var(--btn-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn:hover {
  background-color: var(--primary-color);
}

.smBtn {
  padding: 8px 14px;
  background-color: var(--primary-color);
  color: var(--secondnary-color);
  border: none;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
  box-shadow: var(--btn-shadow);
  transition: 0.3s;
}

.smBtn:hover {
  background-color: var(--primary-color-light);
}

.smBtn:active {
  background-color: var(--unified-color);
}

.subHeaderBtn .Btn {
  background-color: var(--primary-color);
}

.remark {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-align: center;
  margin-left: 0 !important;
  display: flex;
  align-items: center;
}


.ratingDiv {
  display: flex;
  justify-content: center;
}

.ratingBtn {
  background: none;
  border: none;
  padding: 0;
  color: var(--text-color);

}

.ratingBtn:hover {
  color: var(--primary-color);

}

.ratinIcon:hover {
  color: var(--primary-color);
}

/*   */
/* Cards */

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.Card {
  width: 150px;
  height: 150px;
  background-color: var(--body-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--radius);
  padding: 12px;
  opacity: 0.8;
}

.innerCard {
  width: 100%;
  height: 100%;
  background-color: var(--secondnary-color);
  border-radius: var(--radius);
}

.innerCard .top {
  height: 30%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  color: var(--chat-text);
  font-weight: 600;
  font-size: 18px;
}

.innerCard .bottom {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--chat-text);
  font-weight: 600;
}

.total.Card {
  width: 230px;
  height: 230px;
  font-size: 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
}

.process.Card {
  width: 200px;
  height: 200px;
  font-size: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.pending.Card {
  width: 200px;
  height: 200px;
  font-size: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.rejected.Card {
  width: 150px;
  height: 150px;
  font-size: 50px;
  position: relative;
}

.completed.Card {
  width: 150px;
  height: 150px;
  font-size: 50px;
  position: relative;
}

#compIcon {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: 0.5s;
  left: 100px;
  margin-top: 10px;
}

#pendIcon {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: 0.5s;
  left: 140px;
}

#totIcon {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: 0.5s;
  margin-bottom: 28px;
  right: 70px;
}

#procIcon {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: 0.5s;
  left: 140px;
}

#rejIcon {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: 0.5s;
  left: 100px;
  margin-top: 10px;
}

/*  */


@media screen and (max-width: 1024px) {
  .innerCard .top {
    font-size: 10px;
  }

  .total.Card {
    width: 180px;
    height: 180px;
  }

  .process.Card {
    width: 150px;
    height: 150px;
  }

  .pending.Card {
    width: 150px;
    height: 150px;
  }

  .rejected.Card {
    width: 100px;
    height: 100px;
  }

  .completed.Card {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    overflow: auto;
    gap: 24px;
    padding: 12px;
  }

  .Card {
    padding: 0px;
    width: 100px !important;
    height: 100px !important;
  }

  .innerCard {
    width: 100px;
    height: 100px;
  }



  .innerCard .bottom {
    font-size: 32px;
    width: 100%;
  }

  .cards::-webkit-scrollbar {
    height: 4px;
  }

  .cards::-webkit-scrollbar:hover {
    cursor: pointer;
  }

  .cards::-webkit-scrollbar-track {
    background: var(--secondnary-color);
    border-radius: var(--radius);
  }

  .cards::-webkit-scrollbar-thumb {
    background: var(--primary-color-light);
    border-radius: var(--radius);
  }


}

@media screen and (max-width: 1023px) {
  .infoIcon {
    display: none;
  }
}

@media screen and (max-width:680px) {
  td.mat-cell {
    padding: 0px 4px;
  }
}

@media screen and (max-width: 680px) {
  .headerIcon {
    transform: scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subHeader {
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .subHeaderBtn {
    display: block;
  }

  .anotherBtnsDiv {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .ndfMaster {
    width: 350px;
    height: 450px;
  }

  .ndfInsideParent {
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
  }

  .NTktDiv {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .NDiv {
    width: 90px;
    height: 90px;
  }

  .NPara {
    white-space: nowrap;
    font-size: 12px;
  }

  .Nbtn {
    width: 25px;
    height: 35px;
    padding: 15px;
  }

  .NIcon {
    transform: scale(0.5);
  }

  .profileDiv {
    justify-content: space-between;
  }

  .btnsDiv {
    display: none;
  }

  .btn {
    padding: 6px;
    font-size: 12px;
  }

  th.mat-header-cell {
    font-size: 10px !important;
  }

  .mat-cell {
    font-size: 10px !important;
  }

  .mat-paginator {
    transform: scale(0.6);
  }

  .smBtn {
    padding: 4px 17px;
    font-size: 8px;
  }

  .Btn {
    transform: scale(0.8);
  }

  th.mat-header-cell:last-of-type {
    padding: 4px;
  }

  td.mat-cell:last-of-type {
    padding: 4px;
  }

  .userName {
    padding: 2px;
    border-radius: var(--radius);
    width: 100%;
    color: var(--body-color);
    transition: 0.3s;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .ratingBtn {
    transform: scale(0.7) !important;
  }

  .master-parent {
    background-size: contain !important;
  }

  .table {
    opacity: 1;
  }

  .mat-paginator {
    transform: scale(0.4);
  }

  .noDataDetails li {
    font-size: 12px;
  }

  .profileDiv{
    height: auto;
  }

}

@media screen and (max-width: 400px) {
  .ndfMaster {
    width: 250px;
    height: 450px;
  }

  .ndfInsideParent {
    width: 200px;
    height: 400px;
  }

  .noDataDetails {
    gap: 8px;
  }

  .NoDatafound {
    width: 250px;
    height: 450px;
    border-radius: 34px;
  }

  .noDataProfile {
    width: 200px;
    height: 400px;
    border-radius: 34px;
  }

  .noDataHeader {
    padding: 4px;
  }

  .noDataHeader h1 {
    font-size: 12px;
  }

  .NoImg {
    width: 20px;
    height: 20px;
    border: 2px solid var(--unified-color);
  }

  .NoBtn {
    width: 20px;
    height: 20px;
  }

  .noProIcon {
    transform: scale(0.5);
  }

  .noDataDetails li {
    font-size: 8px;
    padding: 4px;
    border-radius: 34px;
  }
}

/* Spinner */

.spinner {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid var(--chat-primary);
  border-top-color: rgba(136, 39, 131, 1);
  animation: spin 1s linear infinite;
  box-shadow: rgb(250, 152, 245) 0px 5px 15px;
  overflow: hidden;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.rateIconTrue {
  color: rgb(0, 108, 209);
}

.rateIconFalse {
  color: rgb(95, 95, 95);
}