<div class="Parent">
  <div class="inner-parent">
    <header class="header">
      <div class="logo">
        <!-- <img src="../../assets/logo.png" alt="" class="image" /> -->
        <button class="smBtn" (click)="profile()" *ngIf="!showUserProfile"><mat-icon>person</mat-icon></button>
        <button class="smBtn" (click)="profile()" *ngIf="showUserProfile"><mat-icon>dashboard</mat-icon></button>

      </div>
      <div class="name">TICKET RAISING</div>
      <div class="logoutBtn">
        <button class="smBtn" (click)="logOut()">
          <div>
            <mat-icon class="logoutIcon">logout</mat-icon>
          </div>
        </button>
      </div>
    </header>
    <section class="section">
      <div class="topSection" *ngIf="!showUserProfile">
        <div class="total sectionCard">
          <div class="front">
            <img src="../../assets/total.jpg" alt="" />
          </div>
          <div class="back">
            <div class="left">TOTAL</div>
            <div class="right">44</div>
          </div>
        </div>
        <div class="process sectionCard">
          <div class="front">
            <img src="../../assets/process.jpg" alt="" />
          </div>
          <div class="back">
            <div class="left">PROCESS</div>
            <div class="right">14</div>
          </div>
        </div>
        <div class="pending sectionCard">
          <div class="front">
            <img src="../../assets/pending.jpg" alt="" />
          </div>
          <div class="back">
            <div class="left">PENDING</div>
            <div class="right">24</div>
          </div>
        </div>
      </div>
      <div class="profileDiv" *ngIf="showUserProfile">
        <div class="headerDiv">
          <h1>MY PROFILE</h1>
        </div>
        <div class="userImg">
            <div><img src={{userDetails.image}}  class="image" alt="Image"></div>              
         </div>
         <div class="userDetails">
          
            <li>Name: <span class="liStyle">{{userDetails.name}}</span></li>
            <li>Email:<span class="liStyle">{{userDetails.email}}</span></li>
            <li>Mobile: <span class="liStyle">{{userDetails.mobile}}</span></li>
            <li>Department: <span class="liStyle">{{userDetails.dept}}</span></li>
            <li>Designation: <span class="liStyle">{{userDetails.desg}}</span></li>
            <li>Address: <span class="liStyle">{{userDetails.address}}</span></li>
          
         </div>
      </div>
      <div class="botttomSection">
        <button class="Btn" *ngIf="screenSize" (click)="enterToModule()" >
          <mat-icon>login</mat-icon>
        </button>
        <button class="Btn" *ngIf="!screenSize" (click)="enterToModule()" >Enter</button>
      </div>

   
    </section>
    <footer class="footer">
      <div class="footerName">© 2023 DSRT, Inc.</div>
    </footer>
  </div>
</div>
